.give_margin{
    margin-top:none
}
.learn_to_code{
    color:black;
    float: none;
    flex: none;
    margin: auto;
}
.errormsg{
    font-size: 10px;
    color: red;
    font-style: italic;
}
.index_body{
    color: black;
    background-image: url(../images/custom_image/%E2%80%94Pngtree%E2%80%94cartoon%20cute%20pink%20background%20poster_188378.jpg)
}