.give_margin{
    margin-top:none
}
.learn_to_code{
    color:aqua;
    float: none;
    flex: none;
    margin: auto;
}
.errormsg{
    font-size: 20px;
    color: red;
    font-style: italic;
}
.index_body{
    color: aqua;
    background-color: black;
}